:root {
  --primary-shadow: 5px 5px 20px #2829412b;
  --primary-color: #282941;
  --secondary-color: #dbdbdf;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 40px;
  padding: 0 0 20 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 25px;
}
h3 {
  font-size: 24px;
  text-align: left;
  margin: 10px 0px 0px 0px;
  font-family: "Courier New", Courier, monospace;
}

img {
  max-width: 500px;
}

p {
  margin: 0;
}

button {
  margin: 30px 0px 10px 0px;
}

.header {
  padding: 80px;
  background-color: var(--secondary-color);
  margin: 0px;
}

.contact-button {
  padding: 15px 30px;
  margin: 40px 0px;
  display: inline-block;
}

.project-heading {
  font-size: 30px;
  margin: 30px;
}

.project-displays {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px 15px;
  margin: 20px 10px;
  max-width: 600px;
  background-color: var(--secondary-color);
  box-shadow: var(--primary-shadow);
}
