:root {
  --primary-shadow: 5px 5px 20px #2829412b;
  --primary-color: #282941;
  --secondary-color: white;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
}
h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 40px;
  padding: 0 0 20 0;
}

h1 {
  font-size: 25px;
}
h3 {
  font-size: 40px;
  text-align: left;
  margin: 10px 0px 0px 0px;
}

img {
  max-width: 500px;
}

p {
  margin: 0;
}

button {
  margin: 30px 0px 10px 0px;
  box-shadow: var(--primary-shadow);
}

.hero {
  text-align: center;
  padding: 90px;
  background-color: var(--secondary-color);
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button {
  padding: 15px 30px;
  margin: 40px 0px;
  display: inline-block;
  box-shadow: var(--primary-shadow);
}

.project-heading {
  font-size: 30px;
  margin: 30px;
  color: white;
}

.project-displays {
  border-radius: 20px;
  padding: 20px 15px;
  margin: 20px 50px;
  background-color: white;
  box-shadow: var(--primary-shadow);
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  img {
    display: block;
  }
}
